# Ignorar carpetas y .rar
bin/
obj/
.vs/
.vscode/
# *.rar
# parciales-RAR/

# Ignorar archivos de proyectos generados automáticamente
*.log
*.layout
*.depend
*.tmp
tempCodeRunnerFile.c

# Ignorar archivos de compilación
*.o
*.exe
*.dll
*.out
