# Ignorar carpetas y .rar
bin/
obj/
.vs/
.vscode/
*.rar

# Ignorar archivos de proyectos generados automáticamente
*.log
*.layout
*.depend
*.tmp

# Ignorar archivos de compilación
*.o
*.exe
*.dll
*.out

#ignorar hechos.txt 
hechos.txt